.textinput {
    font-family: Tahoma;
    font-size: 10px;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}

.positiontable tr:hover {
    background-color: lightgray;
}

.positiontable { 
    text-align: left;
    border : 1px black solid;
    width : 80%;
    font-size: 18px;
}

.formtitle {
    width: 90%;
    font-style: Monospace;
    margin: 0px;
    padding: 5px;
}

.formbody {
    width: 90%;
    height: 35%;
    font-style: Monospace;
    margin: 0px;
    padding: 5px;
}

.formselect {
    font-style: Monospace;
    margin: 1px;
    padding: 5px;
    text-align: left;
}