.textinput {
    font-family: Tahoma;
    font-size: 10px;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-top: -6px;
}

.positiontable tr:hover {
    background-color: lightgray;
}

.positiontable { 
    text-align: left;
    border : 1px black solid;
    width : 80%;
    font-size: 18px;
}

.formtitle {
    width: 90%;
    font-style: Monospace;
    margin: 0px;
    padding: 5px;
}

.formbody {
    width: 90%;
    height: 35%;
    font-style: Monospace;
    margin: 0px;
    padding: 5px;
}

.formselect {
    font-style: Monospace;
    margin: 1px;
    padding: 5px;
    text-align: left;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}