body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
  
}
.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}

.button {
    width : 65px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}