<!-- Page used to render each position on the index page,
     takes in a research position object called "position" -->
<table class = "table table-hover">
    <tr valign="center">   
        <td width="20%"><b>{{ position.title }}</b></td>
          
        <!-- "read more" collapsable menu for position description -->
        <td width="10%">
            <form action="{{ url_for('routes.display_position', pos_id = position.id) }}" method="post">
                <input type="submit" value="View Info" class="btn btn-info btn-block">
            </form>
            {% if current_user.is_faculty() == False %}
            <!-- the action would be the url_for the "apply to application" route with userid-->
                    <br>
                    <form action="" method="post">
                        <input type="submit" value="Apply" class="btn btn-success btn-block">
                    </form>
            {% endif %}
            {% if current_user.id == position.faculty_id %}
            <!-- the action would be the url_for the "edit application" route with userid-->
                <br>
                <form action="" method="post">
                    <input type="submit" value="Edit" class="btn btn-warning btn-block">
                </form>
                <br>
                <form action="" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger btn-block">
                </form>
            
            {% endif %}
        </td>

        <!-- Add research fields for post around here in a <td> with width of 20% -->
        <td width=70%>
            {% for field in position.get_research_fields() %}
			<span> <b>-</b> {{ field.name }}<br></span>
            {% endfor %}
        </td> 

        <!-- There will eventually be an edit button feature hear for the post.writer -->

    </tr>
</table>
