<!-- Will display the information regarding a student technical elective
     in a table format -->
     <table class = "table table-hover">
        <tr valign="center">   
            <td width="30%">
                <b>{{ elective.course_prefix }} {{ elective.course_num }} - {{ elective.course_title }}</b>
            </td>
            <td width="60%">
                {{ elective.course_description }}
            </td>
            {% if not current_user.is_faculty() %}
            <td width=30%>
                <a href="" class ="btn btn-warning btn-block">Edit</a> <!-- Route to Edit this specific Technical Elective-->
                <a href="" class ="btn btn-danger btn-block">Delete</a><br> <!-- Route to Delete this specific Technical Elective -->
            </td>
            {% endif %}
        </tr>
    </table>