{% extends "base.html" %}

{% block app_content %}
<h1>{{ student.first_name }} {{ student.last_name }}</h1> <!-- Applicant's Name -->
<body>
    <p>
        <p><b>Contact Information:</b></p>
        <b>Phone Number:  </b>{{ student.phone_number }} <!-- Applicant's Number -->
        <br>
        <b>Email:  </b>{{ student.email }} <!-- Applicant's email -->
    </p>

    <p>
        <p><b>Education:</b></p>
        <b>Major:  </b>{{ student.major }} <!-- Applicant's Major -->
        <br>
        <b>GPA:  </b>{{ student.gpa }} <!-- Applicant's GPA -->
        <br>
        <b>Graduation Date:  </b>{{ moment(student.graduation_date).format('L') }} <!-- Applicant's Grad Date -->
        <br>
    </p>

    

    <br>
    <a href="{{ url_for('routes.view_applicants') }}" class ="button"> Return to Applicants page</a>
</body>
{% endblock %}