<html>
    <head>
        <title>Welcome to Cougar Research Application Portal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class="nav-container">
            <tr>
                <!-- keep if login is implemented -->
                {% if current_user.is_anonymous %}
                    <!-- add link to login route -->           
                    <td><a href="" class = "button">Login</td>
                {% else %}
                    <!-- add link to logout route -->           
                    <td><a href="" class = "button">Logout</td>
                {% endif %}
                <!-- Add future links go here -->
            </tr>
        </div>
    </body>
</html>