{% extends "base.html" %}

{% block app_content %}

<h1>Edit Account Information</h1><hr>
{% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {% if current_user.is_faculty() == False %}
            <a href="{{ url_for('routes.technical_electives') }}" class ="btn btn-warning">Edit Technical Electives</a> <!-- Route to edit Tech Electives -->

            <a href="{{ url_for('routes.research_experience') }}" class ="btn btn-warning">Edit Prior Experience</a> <!-- Route to edit Prior Experience -->
        {% endif %}
        <br><br>

        <div>
            <br>
            {{ form.username.label }}<br>
            {{ form.username }}<br> 

            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.wsu_id.label}}<br>
            {{form.wsu_id }}<br>

            {% for error in form.wsu_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.first_name.label}}<br>
            {{form.first_name }}<br>

            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.last_name.label}}<br>
            {{form.last_name }}<br>

            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.email.label}}<br>
            {{form.email }}<br>

            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.phone_number.label}}<br>
            {{form.phone_number }}<br>

            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {% if current_user.is_faculty() == False %}
            
                {{form.major.label}}<br>
                {{form.major }}<br>

                {% for error in form.major.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>

                {{form.gpa.label}}<br>
                {{form.gpa }}<br>

                {% for error in form.gpa.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>

                {{form.graduation_date.label}}<br>
                {{form.graduation_date }}<br>

                {% for error in form.graduation_date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>

            {% endif %}

        </div>

        {% if current_user.is_faculty() == False %}

            <p class="formselect">{{form.interested_fields.label}}
            {{form.interested_fields }}
            </p>

            <p class="formselect">{{form.programming_languages.label}}
            {{form.programming_languages }}
            </p>

        {% endif %}

        {{ form.submit(class="btn btn-success") }}<br>
    </form>

{% else %}
    <p>Edit form could not be rendered</p>
{% endif %}

<br><br><br><br>

{% endblock %}