{% extends "base.html" %}

{% block app_content %}


{% if form %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            <br>
            {{ form.username.label }}<br>
            {{ form.username }}<br> 

            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.wsu_id.label}}<br>
            {{form.wsu_id }}<br>

            {% for error in form.wsu_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.first_name.label}}<br>
            {{form.first_name }}<br>

            {% for error in form.first_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.last_name.label}}<br>
            {{form.last_name }}<br>

            {% for error in form.last_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.email.label}}<br>
            {{form.email }}<br>

            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.phone_number.label}}<br>
            {{form.phone_number }}<br>

            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.major.label}}<br>
            {{form.major }}<br>

            {% for error in form.major.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.cum_GPA.label}}<br>
            {{form.cum_GPA }}<br>

            {% for error in form.cum_GPA.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>

            {{form.grad_date.label}}<br>
            {{form.grad_date }}<br>

            {% for error in form.grad_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </div>

        <p class="formselect">{{form.research_topics.label}}
        {{form.research_topics }}

        <p class="formselect">{{form.languages.label}}
            {{form.languages }}

            <a href="" class ="btn btn-warning">Edit Tech Electives</a> <!-- Route to edit Tech Electives -->

            <a href="" class ="btn btn-warning">Edit Prior Experience</a> <!-- Route to edit Prior Experience -->
    
        {{ form.submit(class="btn btn-success") }}<br><br><br><br>
        </p>
    </form>

{% else %}
    <p>Edit form could not be rendered</p>
{% endif %}

{% endblock %}