<!-- Main page that is used to render all the open research positions
     Takes all open research positions objects called "research_positions" -->
{% extends "base.html" %}

{% block app_content %}

    <h1>Cougar Research Application Portal</h1>

    
    {% if form %}
        {{ wtf.quick_form(form, action = url_for('routes.index')) }}
        <br><br>
    {% else %}
        <p>FORM COULD NOT BE RENDERED!!!</p>
    {% endif %}
    
    {% if research_positions %}
        <!-- researchPositions represents all open researchPositions in database -->
        {% for position in research_positions %}
            {% with var = "true" if position in applied_positions else "false" %}
                {% include '_positions.html' %}
            {% endwith %}
        {% endfor %}
    {% else %}
        <p>There are currently no available positions</p>
    {% endif %} 
    <br>
    <br>

{% endblock %}