<!-- Main page that is used to render all the open research positions
     Takes all open research positions objects called "research_positions" -->
{% extends "base.html" %}

{% block app_content %}

    <h1>Coug Research Application Portal</h1>

    {% if research_positions %}
        <!-- researchPositions represents all open researchPositions in database -->
        {% for position in research_positions %}
                {% include '_positions.html' %}
        {% endfor %}
    {% else %}
        <p>FORM COULD NOT BE RENDERED!!!</p>
    {% endif %}

{% endblock %}