<!-- Page where a student member can view all their prior experience -->
{% extends "base.html" %}

{% block app_content %}
    <h1>Your Research Experiences</h1>
    <a href="{{ url_for('routes.create_research_experience') }}" class ="btn btn-primary btn-block">Add a Research Experience</a> <!-- will use the create_experience route -->
    <br>
    {% if experiences %} <!-- experiences is the list of all of a student's prior experiences -->
        {% for experience in experiences %}
            {% include '_prior_experience.html'%} <!-- experience is a single prior experience -->
        {% endfor %}
    {% else %}
        <p> You currently have no Prior Experience.</p>
    {% endif %}
{% endblock %}